.icons{
  font-size: 50px;
  color: cornflowerblue;
}
.icons:hover{
  color: lightseagreen;
}
.container {
  width: 100%;
  border-radius: 30px;
  /* background-color: #ddd; */
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html {width: 90%;
   background-color: #04AA6D;
  }
.cardss:hover{
  background-color: crimson;
  
}
.cardss{
  /* width: calc(34% - 20px); */
  background: rgb(68, 118, 236);
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.projectContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


@media screen and (max-width: 600px) {
  .projectContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}