.detail-title{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inve-name{
    font-size: 55px;
    color: cornflowerblue;
}
.card-bodys{
    width: 55%;
    /* height: 55%; */
    border: 10px solid rgb(49, 131, 255);
    box-shadow: 20px;
    background-color: rgb(156, 186, 242);
    border-radius: 10px;
}
.minOrder{
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 60, 62);
}
.maxQty{
    font-size: 31px;
    font-weight: bold;
    color: rgb(227, 51, 51);
}
.uName{
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}
.uEmail{
    font-size: 26px;

}
.imgbd{
    /* background-color: aqua; */
    width: 40%;
}
.price{
    font-size: 25px;
    color: rgb(230, 19, 93);
    font-weight: bolder;
}